.navhead {
    background-color: #1995AD;
    color: #F1F1F2;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

h1 a {
    color: #F1F1F2;
    text-decoration: none;
}

body {
    background-color:#A1D6E2;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* .card {
    animation: fade  1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
} */
